fieldset {
  margin: 0;
  @include padding-x(0);
  border: 0;
}

label {
  display: block;
  font-size: 0.8em;
  @extend .visuallyhidden;
}

input:not([type="submit"]), textarea {
  padding: 0.25em 0.5em;
  width: 100%;
  font-size: 16px;
  border: none;

  color: white;
  background-color: rgba(0,0,0,0.15);
  transition: background-color .2s linear;

  placeholder {
    color: white;
  }

  &:focus {
    background-color: rgba(0,0,0,0.3);
    outline: none;
  }

  @include at-breakpoint($medium) {
    // width: auto;
    font-size: inherit;
  }
}

// Contact form 7
span.wpcf7-not-valid-tip {
  margin-bottom: 1em;
  font-size: 0.8em;
  font-style: italic;
  color: inherit;
}

